<app-search (onSubmit)="onSubmitSearch($event)" ></app-search>

<div class="grey lighten-2" style="min-height: 100%;">
  <div class="row divider"></div>
  <div class="container row">
    <div class="col s12 m4 push-m8 right-align">
      <a href="/pesquisa/calendario" class="btn disabled"><i class="material-icons">today</i></a>
      <a href="/pesquisa/lista" class="btn"><i class="material-icons">view_list</i></a>
    </div>
    <div class="row hide-on-med-and-up"></div>
    <div class="col s12 m6 offset-m2 pull-m4 center-align center-align">
      <a class="btn left" (click) = onPrev()>
        <i class="material-icons">keyboard_arrow_left</i>
      </a>
      <a class="btn right" (click) = onNext()>
        <i class="material-icons">keyboard_arrow_right</i>
      </a>
    </div>
  </div>
  <div class="container">    
    <!-- CALENDARIO GRANDE -->
    <div class="verticalList calendar hide-on-small-only">
        <div class="column horarioBase">
            <h3 class="header"></h3>
            <div class="item ng-scope" *ngFor="let time of hours">
                <div class="horarioLabel">
                    <p>{{time}}</p>
                </div>
            </div>
        </div>
        <div class="column day hoverable ng-scope" *ngFor="let dates of events">
            <h3 class="header ng-binding">{{dates.date}}</h3>
            <div class="item" *ngFor="let time of hours">
                <div *ngFor="let event of dates.events">
                    <div class="horario size1" *ngIf="event.time_in == time">
                        <div class="event {{'size'+event.duration}} {{event.color}} hoverable">
                        <h4 class="truncate"><i class="material-icons">event</i></h4>
                        <p class="ng-binding">{{event.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM CALENDARIO GRANDE -->

    <!-- CALENDARIO PEQUENO -->
    <div class="item minigrade hide-on-med-and-up">
        <div class="column horarioBase">
            <h3 class="header"></h3>
            <div class="item ng-scope" *ngFor="let time of hours">
                <div class="horarioLabel">
                    <p>{{time}}</p>
                </div>
            </div>
        </div>
        <div class="column" *ngFor="let dates of events">
            <h3 class="header ng-binding">{{dates.date}}</h3>
            <div class="item horario" *ngFor="let time of hours">
                <div class="event" *ngFor="let event of dates.events">
                    <div class="{{event.color}} " alt="" title="" *ngIf="event.time_in == time" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM CALENDARIO PEQUENO -->
  </div>
</div>