<div class="container profile row">
  <div class="row clearfix"></div>
  <div class="grey lighten-2">
    <div class="col s6 m3 offset-s3">
      <img class="img-profile" alt="{{'perfil'+user.name}}" src="https://api.adorable.io/avatars/140/{{user.name}}.png"/>
      <span class="position-user">( {{ user.position }} )</span>
    </div>
    <div class="col m8">
      <div class="col s12">
        <h3 class="name">{{ user.name }}</h3>
      </div>
      <div class="col m12">
        <p>Departamento : {{ user.department }}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix"></div>  
  <div class="container">
    <h4>Eventos dessa semana</h4>    
    <!-- CALENDARIO GRANDE 
    <div class="verticalList calendar hide-on-small-only">
        <div class="column horarioBase">
            <h3 class="header"></h3>
            <div class="item ng-scope" *ngFor="let time of hours">
                <div class="horarioLabel">
                    <p>{{time}}</p>
                </div>
            </div>
        </div>
        <div class="column day hoverable ng-scope" *ngFor="let dates of events">
            <h3 class="header ng-binding">{{dates.date}}</h3>
            <div class="item" *ngFor="let time of hours">
                <div *ngFor="let event of dates.events">
                    <div class="horario size1" *ngIf="event.time_in == time">
                        <div class="event {{'size'+event.duration}} {{event.color}} hoverable">
                        <h4 class="truncate"><i class="material-icons">event</i></h4>
                        <p class="ng-binding">{{event.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     FIM CALENDARIO GRANDE -->

    <!-- CALENDARIO PEQUENO hide-on-med-and-up -->
    <div class="item minigrade">
        <div class="column horarioBase">
            <h3 class="header"></h3>
            <div class="item ng-scope" *ngFor="let time of hours">
                <div class="horarioLabel">
                    <p>{{time}}</p>
                </div>
            </div>
        </div>
        <div class="column" *ngFor="let dates of events">
            <h3 class="header ng-binding">{{dates.date}}</h3>
            <div class="item horario" *ngFor="let time of hours">
                <div class="event" *ngFor="let event of dates.events">
                    <div class="{{event.color}} " alt="" title="" *ngIf="event.time_in == time" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM CALENDARIO PEQUENO -->
  </div>
</div>